.msg-panel{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;

    .chats-panel{
        padding : 10px 10px 0 10px;
        height: calc(100vh - 80px);
        flex: 1;
        overflow: auto;
        
        .chat{
            .line{
                margin-bottom: 5px;
            }
    
            .info{
                font-size: 20px;
                font-style: italic;
                color: dimgray;
            }
        }

    }


    

    .input-box{
        height: 80px;
        padding: 10px;
        border-top: 1px solid black;
        display: flex;
        align-items: center;
        input {
            width: 50%;
        }
    }
}